<div class="p-4 program-filters">
  <h4 id="program-filters-title" class="m-0">Filters</h4>

  <section *ngFor="let programFilter of programFilters; trackBy: trackProgramFilter" class="px-1">
    <!-- TODO: make id dynamic for filters -->
    <div class="px-3 py-2">
      <p id="launch-year-filter" class="program-sub-filter-title m-0 py-1">
        {{ programFilter.title }}
      </p>
    </div>

    <div
      attr.aria-labelledby="program-filters-title launch-year-filter"
      class="program-sub-filters"
    >
      <div
        *ngFor="let filter of programFilter.filters; trackBy: trackFilterValue"
        class="program-sub-filter-value mt-1 mb-1"
      >
        <span class="px-4 py-2">
          {{ filter.label }}
        </span>
      </div>
    </div>
  </section>
</div>
