<div class="card p-4">
  <div class="text-center">
    <img
      [src]="program?.missionPatchSmall"
      alt="Mission Patch for {{ program?.missionName }} #{{
        program?.flightNumber
      }}"
      class="program-image"
      width="100%"
    />
  </div>

  <div class="card-details">
    <h4 class="mt-3 mb-4">
      <b>{{ program?.missionName }} #{{ program?.flightNumber }}</b>
    </h4>

    <div>
      <b id="mission-ids-{{ index }}" class="info-heading">Mission Ids: </b>
      <ul
        *ngIf="program?.missionId.length; else noMissionId"
        attr.aria-labelledby="mission-ids-{{ index }}"
        class="mission-ids-list m-1"
      >
        <li *ngFor="let id of program?.missionId; trackBy: id">{{ id }}</li>
      </ul>

      <ng-template #noMissionId>
        <span attr.aria-labelledby="mission-ids-{{ index }}"
          >None</span
        ></ng-template
      >
    </div>

    <p class="my-2">
      <b id="launch-year-{{ index }}" class="info-heading">Launch Year: </b>
      <span attr.aria-labelledby="launch-year-{{ index }}">{{
        program?.launchYear
      }}</span>
    </p>

    <p class="my-2">
      <b id="successful-launch-{{ index }}" class="info-heading"
        >Successful Launch:
      </b>
      <span attr.aria-labelledby="successful-launch-{{ index }}">{{
        getValue(program?.launchSuccess)
      }}</span>
    </p>

    <p class="my-2">
      <b id="successful-landing-{{ index }}" class="info-heading"
        >Successful Landing:
      </b>
      <span attr.aria-labelledby="successful-landing-{{ index }}">{{
        getValue(program?.landSuccess)
      }}</span>
    </p>
  </div>
</div>
