/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "arial";
}

// text alignment
.text-center {
  text-align: center;
}

// margin and padding
@for $i from 0 through 4 {
  .p-#{$i} {
    padding: #{$i * 0.25}rem;
  }

  .px-#{$i} {
    padding-left: #{$i * 0.25}rem;
    padding-right: #{$i * 0.25}rem;
  }

  .py-#{$i} {
    padding-top: #{$i * 0.25}rem;
    padding-bottom: #{$i * 0.25}rem;
  }

  .m-#{$i} {
    margin: #{$i * 0.25}rem;
  }

  .my-#{$i} {
    margin-top: #{$i * 0.25}rem;
    margin-bottom: #{$i * 0.25}rem;
  }

  .mt-#{$i} {
    margin-top: #{$i * 0.25}rem;
  }

  .mb-#{$i} {
    margin-bottom: #{$i * 0.25}rem;
  }

  .ml-#{$i} {
    margin-left: #{$i * 0.25}rem;
  }
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

// loader
.loader-cover {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.45);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;

  .loader {
    border: 6px solid #fff;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 40px;
    position: absolute;
    right: calc(50% - 40px);
    top: calc(50% - 40px);
    height: 40px;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
